header {
  display: grid;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  height: 90vh;
  box-sizing: border-box;
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}


.contenedor {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 10px;
  border: 1px solid black;
  margin: 10px;
  padding: 1em;
}


.columna-izquierda {
  display: grid;
  grid-template-rows: 1fr 4fr; 
  gap: 15px;
}

.arriba {
  border: 1px solid black;
}
.abajo {
  border: 1px solid black;
}
.caja-grid {
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: auto auto auto;
  gap: 10px ; 
  justify-items: end; 
  align-content: center; 
  border: 1px solid black;
}

.caja:nth-child(9) {
  grid-column: span 4;
}

.caja {
  height: 90px; 
  width: 150px;
  border: 1px dashed blue;
  display: grid;
  justify-content: center;
  align-items: center;
}


footer {
  display: grid;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
