body{
    display: grid;
    border: 1px solid black;
    height: 90vh;
    
    
}
header{
    border: dotted orangered;
    width: 50%;
    height: 8rem;
    margin: 0.5em;
    justify-self: center;
}
.contenedor{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 1em;
    margin: 0.5em;
    height: calc(85vh - 10rem); 
}

.columna-izquierda{
    border: dotted blue;
    height: calc(2 * 8rem + 0.6em ); /* Altura de las dos cajas juntas de la derecha */
}

.caja-grid {
    display: grid;
    grid-template-rows: repeat(2, 8rem); 
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.caja-grid>div {
    border: dotted blue;
}


    
footer{
    border: dotted orangered;
    margin: 0.5em;
}
