body{
    background-color: rgb(255, 70, 70);
}
nav{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: end;
    display: flex;
    gap: 2rem;
    margin-right: 1%;
}
#user{
    justify-content: end;
    display: flex;
    gap: 2rem;
    margin-right: 1%;
    height: 2%;
    width: 2%;
    margin-top: 0.2%;
}
#titulo{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 1%;
    font-size: xx-large;
}
.fotos{
    display: flex;
    justify-content: left;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 2rem;
}

#cocheCalle{
    width: 25%;
    height: 25%;

}
#cocheEvento{
    width: 25%;
    height: 25%;

}
#cocheCircuito{
    width: 32%;
    height: 25%;

}
.textos{
    display: flex;
    justify-content: left;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 2rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
}


